<% label = field_config['name'] || field_id.humanize %>
<% required = field_config['required'] == true %>
<% settings = field_config['settings'] || {} %>
<% multiple = settings['multiple'] == true %>
<% accept = settings['accept'] %>
<% files_input_name = lato_cms_field_input_name(field_id, 'files', input_name_prefix: local_assigns[:input_name_prefix], multiple: true) %>
<% remove_input_name = lato_cms_field_input_name(field_id, 'remove_file_ids', input_name_prefix: local_assigns[:input_name_prefix], multiple: true) %>
<% input_id = lato_cms_field_dom_id(field_id, 'files', dom_id_prefix: local_assigns[:dom_id_prefix]) %>

<label class="form-label">
  <%= label %><%= ' *' if required %>
</label>

<div data-controller="lato-cms-file-field"
     data-field-id="<%= field_id %>"
     data-lato-cms-file-field-multiple-value="<%= multiple %>"
     data-new-badge-label="<%= t('lato_cms.field_file_new_badge') %>"
     data-remove-label="<%= t('lato_cms.field_file_remove') %>"
     data-remove-pending-label="<%= t('lato_cms.field_file_remove_pending') %>"
     data-undo-label="<%= t('lato_cms.field_file_remove_undo') %>">
  <div class="mb-2" data-lato-cms-file-field-target="list">
  <% if page_field&.files&.attached? %>
    <% page_field.files.each do |file| %>
      <div class="lato-cms-file-field__item" data-lato-cms-file-field-target="item" data-attachment-id="<%= file.id %>">
        <div class="lato-cms-file-field__info">
          <i class="bi bi-paperclip"></i>
          <span><%= file.blob.filename %></span>
          <span class="text-muted small">(<%= number_to_human_size(file.blob.byte_size) %>)</span>
        </div>
        <button type="button" class="lato-cms-attachment-field__remove" title="<%= t('lato_cms.field_file_remove') %>" aria-label="<%= t('lato_cms.field_file_remove') %>" data-action="lato-cms-file-field#remove">
          <i class="bi bi-trash"></i>
        </button>
        <div class="lato-cms-file-field__removed d-none" data-lato-cms-file-field-target="removedNotice">
          <span class="text-danger small">
            <i class="bi bi-trash me-1"></i><%= t('lato_cms.field_file_remove_pending') %>
          </span>
          <button type="button" class="btn btn-link btn-sm p-0" data-action="lato-cms-file-field#undo">
            <%= t('lato_cms.field_file_remove_undo') %>
          </button>
        </div>
      </div>
    <% end %>
  <% end %>
  </div>

  <input type="file"
    class="form-control"
    name="<%= files_input_name %>"
    id="<%= input_id %>"
    data-lato-cms-file-field-target="input"
    data-action="change->lato-cms-file-field#addFiles"
    <%= 'multiple' if multiple %>
    <% if accept %>accept="<%= accept %>"<% end %>>
</div>
