<% label = field_config['name'] || field_id.humanize %>
<% required = field_config['required'] == true %>
<% settings = field_config['settings'] || {} %>
<% accept = settings['accept'] || 'image/*' %>
<% current_file = page_field&.files&.attached? ? page_field.files.first : nil %>
<% files_input_name = lato_cms_field_input_name(field_id, 'files', input_name_prefix: local_assigns[:input_name_prefix], multiple: true) %>
<% remove_input_name = lato_cms_field_input_name(field_id, 'remove_file_ids', input_name_prefix: local_assigns[:input_name_prefix], multiple: true) %>
<% input_id = lato_cms_field_dom_id(field_id, 'files', dom_id_prefix: local_assigns[:dom_id_prefix]) %>

<label class="form-label">
  <%= label %><%= ' *' if required %>
</label>

<div data-controller="lato-cms-image-field"
     data-field-id="<%= field_id %>"
     data-field-required="<%= required %>"
     data-new-badge-label="<%= t('lato_cms.field_image_new_badge') %>"
     data-remove-label="<%= t('lato_cms.field_image_remove') %>"
     data-remove-pending-label="<%= t('lato_cms.field_image_remove_pending') %>"
     data-undo-label="<%= t('lato_cms.field_file_remove_undo') %>">
  <% if current_file %>
    <div class="lato-cms-file-field__item lato-cms-image-field__item" data-lato-cms-image-field-target="currentContainer" data-attachment-id="<%= current_file.id %>">
      <div class="lato-cms-image-field__preview">
        <img src="<%= lato_cms_attachment_path(current_file) %>" class="lato-cms-image-field__thumb" data-lato-cms-image-field-target="currentImage" alt="<%= current_file.filename %>">
      </div>
      <div class="lato-cms-file-field__info">
        <i class="bi bi-image"></i>
        <span><%= current_file.blob.filename %></span>
        <span class="text-muted small">(<%= number_to_human_size(current_file.blob.byte_size) %>)</span>
      </div>
      <button type="button" class="lato-cms-attachment-field__remove" title="<%= t('lato_cms.field_image_remove') %>" aria-label="<%= t('lato_cms.field_image_remove') %>" data-action="lato-cms-image-field#remove">
        <i class="bi bi-trash"></i>
      </button>
      <div class="lato-cms-file-field__removed d-none" data-lato-cms-image-field-target="removedNotice">
        <span class="text-danger small">
          <i class="bi bi-trash me-1"></i><%= t('lato_cms.field_image_remove_pending') %>
        </span>
        <button type="button" class="btn btn-link btn-sm p-0" data-action="lato-cms-image-field#undo">
          <%= t('lato_cms.field_file_remove_undo') %>
        </button>
      </div>
    </div>
  <% end %>

  <div class="lato-cms-file-field__item lato-cms-file-field__item--new lato-cms-image-field__item d-none" data-lato-cms-image-field-target="newPreviewContainer">
    <div class="lato-cms-image-field__preview">
      <img src="" class="lato-cms-image-field__thumb" data-lato-cms-image-field-target="newPreview" alt="">
    </div>
    <div class="lato-cms-file-field__info">
      <i class="bi bi-image"></i>
      <span data-lato-cms-image-field-target="newPreviewName"></span>
      <span class="text-muted small" data-lato-cms-image-field-target="newPreviewSize"></span>
      <span class="badge bg-success"><%= t('lato_cms.field_image_new_badge') %></span>
    </div>
    <button type="button" class="lato-cms-attachment-field__remove" title="<%= t('lato_cms.field_image_remove') %>" aria-label="<%= t('lato_cms.field_image_remove') %>" data-action="lato-cms-image-field#removeNew">
      <i class="bi bi-trash"></i>
    </button>
  </div>

  <input type="file"
    class="form-control"
    name="<%= files_input_name %>"
    id="<%= input_id %>"
    accept="<%= accept %>"
    data-lato-cms-image-field-target="input"
    data-action="change->lato-cms-image-field#preview"
    <%= 'required' if required && !current_file %>>
</div>
