<% label = field_config['name'] || field_id.humanize %>
<% required = field_config['required'] == true %>
<% settings = field_config['settings'] || {} %>
<% current_value = page_field&.value || '' %>
<% if current_value.present? %>
  <% begin; current_value = JSON.pretty_generate(JSON.parse(current_value)); rescue JSON::ParserError; end %>
<% end %>
<% input_name = lato_cms_field_input_name(field_id, input_name_prefix: local_assigns[:input_name_prefix]) %>
<% input_id = lato_cms_field_dom_id(field_id, dom_id_prefix: local_assigns[:dom_id_prefix]) %>

<label class="form-label" for="<%= input_id %>">
  <%= label %><%= ' *' if required %>
</label>
<div data-controller="lato-cms-json-field">
  <textarea
    class="form-control font-monospace"
    name="<%= input_name %>"
    id="<%= input_id %>"
    rows="<%= settings['rows'] || 6 %>"
    data-lato-cms-json-field-target="input"
    data-action="input->lato-cms-json-field#validate"
    <%= 'required' if required %>
    <% if settings['placeholder'] %>placeholder="<%= settings['placeholder'] %>"<% end %>><%= current_value %></textarea>
  <div data-lato-cms-json-field-target="status" class="form-text"></div>
</div>
