<% label = field_config['name'] || field_id.humanize %>
<% required = field_config['required'] == true %>
<% settings = field_config['settings'] || {} %>
<% current_value = page_field&.value || '' %>
<% input_name = lato_cms_field_input_name(field_id, input_name_prefix: local_assigns[:input_name_prefix]) %>
<% input_id = lato_cms_field_dom_id(field_id, dom_id_prefix: local_assigns[:dom_id_prefix]) %>

<label class="form-label" for="<%= input_id %>">
  <%= label %><%= ' *' if required %>
</label>
<textarea
  class="form-control"
  name="<%= input_name %>"
  id="<%= input_id %>"
  rows="<%= settings['rows'] || 4 %>"
  <%= 'required' if required %>
  <% if settings['placeholder'] %>placeholder="<%= settings['placeholder'] %>"<% end %>
  <% if settings['maxlength'] %>maxlength="<%= settings['maxlength'] %>"<% end %>><%= current_value %></textarea>
